@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --primary-color: #800080; /* violet */
  --color-background: #FCF8E8; /* creme */
  --accent-color: #F24E3E; /* corail */
  --font-color: #000000; /* noir */
}

body {
  background: var(--color-background);
  color: var(--primary-color);
}

.interactive-button {
  display: inline-block;
  border: 2px solid;
  border-radius: 0.25rem;
  padding: 0.25rem;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2 ease-in-out;
}

.interactive-button:hover {
  transform: scale(1.05);
  background-color: var(--primary-color);
  color: white;
}